.section{
    background-color: $light-grey;
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-position: -400px;
    background-size: 100%;
    overflow-x: hidden;
    @include small-up{
        padding: 50px 50px;
    }
    &--no-padding-right{
        padding-right: 0;
    }
    &__image{
        display: none;
        @include medium-up{
            display: initial;
        }
        &--end{
            justify-self: end;
        }
    }
    &__content{
        @include flex(column, center, center, 20px);
        padding: 0 5px;
        @include small-up{
            padding: 0 25px;
        }
        // max-width: 50%;
        &--left{
            margin-right: auto;
        }
        &--right{
            margin-left: auto;
        }
        &-title{
            span{
                color: $primary-color;
                font-size: 100px;
                margin-bottom: -15px;
            }
            color: $black;
            padding-left: 30px;
            @include flex(row, flex-start, flex-end, 5px);
            align-items: center;
            @include small-up{
                align-items: flex-end;
            }
            font-size: 35px;
            text-transform: uppercase;
        }
        &-subtitle{
            color: $primary-color;
            align-self: flex-start;
            font-size: 30px;
        }
        &-description{
            color: #998D8D;
            padding: 0 80px;
            font-weight: 200;
            line-height: 1.5;
        }
        &-button{
            align-self: flex-start;
            margin-left: 80px;
        }
    }
}